* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
	background-image: url('./images/turtle.jpg');
  	background-size: 100% 100%;
}

nav {
	background-color: #010B44;
}

#mestart {
	color: #e6b800;
}

main {
	min-height: 100vh;
	background-image: url(./images/backgroundone.jpg);
	background-size: 100%;
	background-position: center;
	text-align: center;
}

#greeting	{
	color: #e6b800;
	padding-top: 7rem;
}

#docket {
	color: white;
	padding-top: 2rem;
	padding-bottom: 5rem;
}


.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

#aboutme {
	color: whitesmoke;
	padding: 3rem;
	margin-bottom: 3rem;
}

#aboutme-intro {
	text-align: justify;
  	text-justify: inter-word;
}

#photo {
	background: #000315;
	color: whitesmoke;
	padding-top: 1rem;
	display: flex;
  	justify-content: center;
  	border-radius: 20px;
}

#work-experience {
	color: #e6b800;
	padding-top: 1rem;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

#work-title {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

#workone {
	color: #e6b800;
}

#work-description {
	color: white;
}

#tools {
	padding: 1rem;
	color: #e6b800;
}

#toolone {
	border-radius: 20px;
	background: #000315;
}

h5 {
	color: floralwhite;
}

.contactform {
	color: #e6b800;
	padding-top: 2rem;
	margin-bottom: 3rem;
}

#contactform {
	background: #163049;
	margin-bottom: 5rem;
	border-radius: 20px;
}

footer {
	padding: 0.7rem;
	text-align: center;
}

.social-icon {
	text-decoration: none;
}	

footer span {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}




